@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee 35s linear infinite;
  }
  
  .hover\:animate-paused:hover {
    animation-play-state: paused;
  }
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 10px;              /* for vertical scrollbar */
  height: 8px;              /* for horizontal scrollbar */
}

/* The track (background) */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* The draggable handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* When hovering over the handle */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.landing-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  
  .particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .content {
    position: relative;
    z-index: 2;
    
    .ant-select {
      .ant-select-selector {
        border-color: #47756a;
        background: color(srgb 0.1371 0.1294 0.1294);
        
        .ant-select-selection-wrap {
          .ant-select-selection-item {
            color: white;
          }
        }
      }
      
      .ant-select-arrow {
        color: #47756a;
      }
    }
  }
}

.ant-select-dropdown {
  background-color: #232121;
  
  .ant-select-item {
    color: rgba(231, 210, 210, 0.88);
    background-color: #232121!important;
    
    &:hover {
      color: #47756a;
    }
  }
  
  .ant-select-item-option-selected {
    background-color: rgba(96, 120, 115, 0.73);
    
    .ant-select-item-option-content {
      color: white;
    }
  }
}

.recharts-responsive-container {
  .recharts-wrapper {
    .recharts-tooltip-wrapper {
      .recharts-default-tooltip {
        background: none !important;
        border: none !important;
        
        .recharts-tooltip-item-list {
          .recharts-tooltip-item {
            color: rgb(210, 216, 215) !important;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.ant-typography {
  color: #49776c;
}
